body {
    background-color: #e4ede6;
}

/* TYPOGRAPHY */
h2, h3 {
    font-family: 'DM Serif Display', serif; 
    font-size: 60px;
}



ol li, ul li, ol p, p{
    font-size: 15px;
    font-family: 'Merriweather Sans', sans-serif;

}

.wrapper {
    /* margin-left: 15px; */
}

#sectionOne {
    text-align: center;
    padding: 100px 10px;
    line-height: 60px;
    font-weight: 700;
}

.layout {
    padding: 100px 20%;
    /* margin: 0 5%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 3;

}

/* SECTION 2 */
#sectionTwo {
    background-color: #b0cac7;
    color: rgb(21, 21, 22);
}

.singleProducts {
    background-color: #4e89ae;
    color: #b0cac7;
}

#productImage {
    /* color: pink; */
}

#sectionThree {

}

#footer {
    background-color: #318fb5;

}